@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as mx;

h2 {
  font-family: 'Anta-Regular', sans-serif;
  @include mx.fluid-text(32, 60);
  color: $primary-color;
  text-align: center;
}