@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as mx;

:host {
  display: block;
}

h2 {
  font-family: 'Anta-Regular', sans-serif;
  @include mx.fluid-text(32, 60);

  color: $primary-color;
  text-align: center;
  margin: 0;
}

:host(.legal-heading) {
  // margin: 65px 0 clamp(2rem, 5vw, 3.5rem);

  margin-top: clamp(1rem, 4.5vw, 4rem);
  margin-bottom: clamp(2rem, 3.5vw, 3.5rem);
  margin-inline: 0;
}