@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as mx;

.primary-btn {
  border-radius: 30px;
  border: 1px solid $primary-color;
  background-color: $primary-color;
  padding: 13px 30px;
  color: $bg-color;
  font-family: 'JosefinSans-Regular', sans-serif;
  @include mx.fluid-text(14, 18);
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;

  &:hover {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    
  }
}

.secondary-btn {
  border-radius: 30px;
  border: 1px solid $primary-color;
  background-color: transparent;
  padding: 13px 30px;
  color: $primary-color;
  font-family: 'JosefinSans-Regular', sans-serif;
  @include mx.fluid-text(14, 18);
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: rgba($primary-color, 0.12);
  }
}

@media (max-width: 350px) {
  .primary-btn,
  .secondary-btn {
    padding: 13px 18px;
  }
}
