@font-face {
  font-family: 'Anta-Regular';
  // src: url('/angular-projects/portfolio/fonts/Anta-Regular.ttf') format('truetype');
  src: url('/fonts/Anta-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-Regular';
  // src: url('/angular-projects/portfolio/fonts/JosefinSans-Regular.ttf') format('truetype');
  src: url('/fonts/JosefinSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-Medium';
  // src: url('/angular-projects/portfolio/fonts/JosefinSans-Medium.ttf') format('truetype');
  src: url('/fonts/JosefinSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-Bold';
  // src: url('/angular-projects/portfolio/fonts/JosefinSans-Bold.ttf') format('truetype');
  src: url('/fonts/JosefinSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
