@font-face {
  font-family: 'Anta-Regular';
  src: url('/fonts/Anta-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-Regular';
  src: url('/fonts/JosefinSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-Medium';
  src: url('/fonts/JosefinSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}