section {
  display: flex;
  justify-content: center;

  &:not([id='home']) {
    margin-top: clamp(5rem, 15vw, 6.25rem);
  }

  &[id='home'] {
    width: 100%;
  }

  .inner-container {
    max-width: 1440px;
    width: 100%;
    margin-inline: clamp(0.5rem, 2vw + 1rem, 6rem);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
