<section class="card-content">
  <div class="card-inner">
    <div class="project-info">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum voluptatem fugiat
        molestias inventore at, totam amet quis placeat numquam fuga dolor aperiam tempora
        consequatur asperiores possimus. Suscipit eum nam ipsa.
      </p>
    </div>

    <div class="project-screen-box">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius totam quisquam maiores alias
      libero doloribus? Unde dolores ipsum suscipit quam, at beatae neque nesciunt sed architecto
      vero expedita animi corporis?
    </div>
  </div>
</section>
