<section
  class="card-content"
  [ngClass]="{
    'first-tab': currentIndex === 0,
    'last-tab': currentIndex === totalProjects - 1,
  }"
>
  
  <div class="card-inner" [attr.id]="projectData.id">
    <div class="action-buttons-mobile">
      @if (projectData.id !== 'ongoing' && projectData.liveUrl) {
        <app-button
          [label]="'PROJECTS.LIVE_TEST' | translate"
          btnClass="primary-btn"
          (click)="openLink(projectData.liveUrl)"
        >
        </app-button>
      }
      @if (projectData.id !== 'ongoing' && projectData.githubUrl) {
        <app-button
          [label]="'PROJECTS.GITHUB' | translate"
          btnClass="secondary-btn"
          (click)="openLink(projectData.githubUrl)"
        >
        </app-button>
      }
    </div>
    <div class="project-info">
      <div class="info-block">
        <div class="block-header">
          <span class="dot">
            <svg
              width="29"
              height="26"
              viewBox="0 0 29 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M29 13C29 20.1797 23.1797 26 16 26C8.8203 26 0 17.6797 0 10.5C0 3.3203 8.8203 0 16 0C23.1797 0 29 5.8203 29 13Z"
                fill="#89BCD9"
              />
            </svg>
          </span>
          <h3>{{ 'PROJECTS.ABOUT' | translate }}</h3>
          @if (projectData.duration) {
            <span class="duration duration-desktop ">{{ 'PROJECTS.DURATION_LABEL' | translate: { duration: (projectData.duration | translate) } }}</span>
          }
        </div>
        <p>{{ projectData.aboutText | translate }}</p>
      </div>

      @if (projectData.workProcessText) {
        <div class="info-block">
          <div class="block-header">
            <span class="dot">
              <svg
                width="29"
                height="26"
                viewBox="0 0 29 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M29 13C29 20.1797 23.1797 26 16 26C8.8203 26 0 17.6797 0 10.5C0 3.3203 8.8203 0 16 0C23.1797 0 29 5.8203 29 13Z"
                  fill="#89BCD9"
                />
              </svg>
            </span>
            <h3>{{ 'PROJECTS.WORK_PROCESS' | translate }}</h3>
          </div>
          <p>{{ projectData.workProcessText | translate }}</p>
        </div>
      }

      @if (projectData.learnText) {
        <div class="info-block">
          <div class="block-header">
            <span class="dot">
              <svg
                width="29"
                height="26"
                viewBox="0 0 29 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M29 13C29 20.1797 23.1797 26 16 26C8.8203 26 0 17.6797 0 10.5C0 3.3203 8.8203 0 16 0C23.1797 0 29 5.8203 29 13Z"
                  fill="#89BCD9"
                />
              </svg>
            </span>
            <h3>{{ 'PROJECTS.LEARNED' | translate }}</h3>
          </div>
          <p>{{ projectData.learnText | translate }}</p>
        </div>
      }
    </div>

    <div class="project-screen-box">
      <div class="technologies-wrapper">
        <span class="project-label-mobile">{{ projectData.tabLabel | translate }}</span>
        <h4>{{ 'PROJECTS.TECHNOLOGIES' | translate }}</h4>

        <div class="tech-icons">
          @for (tech of projectData.technologies; track tech) {
            <img [src]="tech" alt="Technology icon" class="tech-icon" />
          }
        </div>

        <span class="tech-text">{{ projectData.techNames | translate }}</span>
        @if (projectData.duration) {
        <span class="duration duration-mobile">{{ 'PROJECTS.DURATION_LABEL' | translate: { duration: (projectData.duration | translate) } }}</span>
      }
      </div>
      
      <div class="project-image-wrapper">
        @if (projectData.imageUrl) {
          <img
            [src]="projectData.imageUrl"
            [alt]="(projectData.tabLabel | translate) + ' Screenshot'"
            class="project-image"
          />
        } @else {
          <div class="project-image-placeholder">
            <span>{{ 'PROJECTS.COMING_SOON' | translate }}</span>
          </div>
        }
      </div>
      <div class="action-buttons">
        @if (projectData.id !== 'ongoing' && projectData.liveUrl) {
          <app-button
            [label]="'PROJECTS.LIVE_TEST' | translate"
            btnClass="primary-btn"
            (click)="openLink(projectData.liveUrl)"
          >
          </app-button>
        }

        @if (projectData.id !== 'ongoing' && projectData.githubUrl) {
          <app-button
            [label]="'PROJECTS.GITHUB' | translate"
            btnClass="secondary-btn"
            (click)="openLink(projectData.githubUrl)"
          >
          </app-button>
        }
      </div>
    </div>
  </div>
</section>
