@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as mx;

:host {
  display: block;

  ::ng-deep section {
    height: calc(100vh - 100px);
    align-items: flex-end;
    margin-top: 0 !important;
  }
}

.inner-container {
  @include mx.flex-center;
  gap: 5rem;
}

h1 {
  font-family: 'Anta-Regular', sans-serif;
  color: $secondary-color;
  font-size: clamp(3rem, calc(6vw + 1rem), 6rem);
  letter-spacing: 1%;
  text-align: center;
  margin-bottom: 1rem;
}

.photo-container {
  width: clamp(200px, 40vw, 500px);
  height: auto;
  aspect-ratio: 1;
  background-image: url('/icons/shape.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  &:hover {
    background-image: url('/icons/shape2.png');
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}

p {
  font-family: 'JosefinSans-Regular', sans-serif;
  font-size: clamp(1.5rem, calc(2vw + 1rem), 2.5rem);
  text-align: center;
  color: $secondary-color;
}

.logo-container {
  @include mx.flex-center;

  .logo-hover {
    display: none;
  }

  &:hover {
    .logo-default {
      display: none;
    }
    .logo-hover {
      display: inline;
      
    }
  }
}

.hero-content{
  @include mx.flex-center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .inner-container {
    flex-direction: column;
    gap: 40px;
  }
}

.arrow{
  padding-top: min(8em, 30%);;
}