@use '../../styles/abstracts/variables' as *;


footer {
    height: 200px;
    background-color: $primary-color;
    font-family: 'JosefinSans-Regular';
    color: $bg-color;
    font-size: 1.125rem;
}

a{
    color: $bg-color;

    &:hover {
        color: #f8f5ec79;
    }

    &:active {
        color: $secondary-color;
    }
}