<footer>
  <div class="footer-content">
    <div class="imp-container">
      <a routerLink="/imprint">Legal notice</a>
      <p>&copy; Julia Keller 2026</p>
    </div>
    <img class="logo-nav desktop-logo" src="icons/logo-dark.svg" alt="Logo" />
    <img class="logo-nav mobile-logo" src="icons/logo-dark-mobile.svg" alt="Logo" />
    <app-social-icons class="desktop-icons" orientation="row" theme="footer"></app-social-icons>
    <app-social-icons class="mobile-icons" orientation="row" theme="mobile"></app-social-icons>
  </div>

</footer>
