@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as mx;

.about-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: clamp(30px, 3vw, 50px);
  margin-top: clamp(32px, 5.5vw, 80px);

  .printed-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    height: 40px;
    text-align: right;
    width: 470px;

    .icon-box {
      opacity: 0;
      transform: scale(0.5);
      transition: all 0.3s ease;
      display: flex;
      align-items: center;

      &.visible {
        opacity: 1;
        transform: scale(1);
      }

      img {
        width: 74px;
        height: 64px;
      }
    }

    .anim-text {
      font-family: 'JosefinSans-Medium', sans-serif;
      @include mx.fluid-text(18, 30);
      margin: 0;
      white-space: nowrap;
      text-align: bottom;
      span {
        color: $primary-color;
      }
    }

    .cursor {
      color: $primary-color;
      margin-left: 2px;
      animation: blink 0.8s infinite;
    }
  }

  .about-text {
    width: 400px;
  }

  p {
    color: $secondary-color;
    font-family: 'JosefinSans-Regular', sans-serif;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (max-width: 1000px) {
  .about-content {
    @include mx.flex-center;
    flex-direction: column;

    > .printed-text {
      text-align: center;
      width: auto;

      .icon-box {
        img {
          width: 30px;
          height: auto;
        }
      }
    }

    > .about-text {
      text-align: center;
      width: auto;
    }
  }
}
