@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as mx;

.about-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: clamp(30px, 3vw, 50px);
  margin-top: clamp(32px, 5.5vw, 80px);

  .printed-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    height: 40px;
    width: 470px;

    .icon-box {
      opacity: 0;
      transition: opacity 0.3s;
      display: flex;
      align-items: center;

      &.visible {
        opacity: 1;
        
      }

      img {
        width: 70px;
        height: 60px;
        transition: opacity 0.3s;
      }
    }

    .anim-text {
      font-family: 'JosefinSans-Medium', sans-serif;
      @include mx.fluid-text(18, 30);
      margin: 0;
      white-space: nowrap;
      color: $secondary-color;

      .prefix,
      .dots {
        color: $primary-color;
      }
    }

    .cursor {
      color: $primary-color;
      margin-left: 2px;
      animation: blink 0.8s infinite;
    }
  }

  .about-text {
    width: 400px;
    color: $secondary-color;
    font-family: 'JosefinSans-Regular', sans-serif;
    font-size: 18px;
    line-height: 120%;
  }
}

@keyframes blink {
  50% { opacity: 0; }
}

@media (max-width: 1000px) {
  .about-content {
    flex-direction: column;
    align-items: center;

    .printed-text {
      text-align: center;
      width: auto;
      justify-content: center;

      .icon-box img {
        width: 30px;
        height: 30px;
      }
    }

    .about-text {
      text-align: center;
      width: auto;
    }
  }
}