@use '../../../styles/abstracts/variables' as *;

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.is-horizontal {
    flex-direction: row;

    a .icon-default {
      opacity: 0.6;
    }
  }

  a {
    position: relative;
    line-height: 0;

    img {
      width: 30px;
      height: 30px;
    }

    .icon-hover {
      position: absolute;
      inset: 0;
      opacity: 0;
    }

    &:hover {
      .icon-default {
        opacity: 0;
      }
      .icon-hover {
        opacity: 1;
      }
    }
  }
}