<div class="social-icons">
  <a href="mailto:" aria-label="Email">
    <img class="icon-default" src="icons/sosial_media/mail-hero.svg" alt="Email">
    <img class="icon-hover" src="icons/sosial_media/mail-hero-hover.svg" alt="Email">
  </a>
  <a href="https://github.com/JuliaKeller13" target="_blank" aria-label="GitHub">
    <img class="icon-default" src="icons/sosial_media/github-hero.svg" alt="GitHub">
    <img class="icon-hover" src="icons/sosial_media/github-hero-hover.svg" alt="GitHub">
  </a>
  <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
    <img class="icon-default" src="icons/sosial_media/in-hero.svg" alt="LinkedIn">
    <img class="icon-hover" src="icons/sosial_media/in-hero-hover.svg" alt="LinkedIn">
  </a>
</div>
