@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as mx;

.inner-container {
	max-width: 1440px;
	width: 100%;
	margin-inline: clamp(0.5rem, 2vw + 1rem, 6rem);
	display: flex;
	align-items: center;
	flex-direction: column;
}