@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as mx;

app-project-card{
  width: 100%;
}

.tabcontent {
  display: none;
}
.tablinks.active {
  background-color: #ccc;
}
