<app-section sectionId="projects">
  <app-heading>{{ 'PROJECTS.HEADING' | translate }}</app-heading>
  <div class="tab-container">
    @for (tab of tabs; track tab) {
      <button
        class="tablinks"
        [ngClass]="{ active: activeTab === tab.id }"
        (click)="setActiveTab(tab.id)"
        [attr.id]="tab.id === tabs[0].id ? 'defaultOpen' : null"
      >
        {{ tab.label }}
      </button>
    }
  </div>

  @for (tab of tabs; track tab) {
    <div>
      <div
        class="tabcontent"
        [style.display]="activeTab === tab.id ? 'block' : 'none'"
        [attr.id]="tab.id"
      >
        <app-project-card></app-project-card>
      </div>
    </div>
  }
</app-section>
