<app-section sectionId="projects">
  <div class="inner">
    <app-heading>{{ 'PROJECTS.HEADING' | translate }}</app-heading>
    
    <div class="tab-container">
      @for (project of projects; let i = $index; track project.id) {
        <button
          class="tablinks"
          [ngClass]="{ active: activeTab === project.id }"
          (click)="setActiveTab(project.id)"
          [attr.id]="project.id === projects[0].id ? 'defaultOpen' : null"
          [attr.aria-label]="project.tabLabel"
        >
          <span class="tab-text">{{ i + 1 }}. {{ project.tabLabel }}</span>
        </button>
      }
    </div>
  </div>
</app-section>

<div class="bg-inner">
  @for (project of projects; track project.id) {
    <div
      class="tabcontent"
      [style.display]="activeTab === project.id ? 'block' : 'none'"
      [attr.id]="project.id"
    >
      <app-project-card [projectData]="project"></app-project-card>
    </div>
  }
</div>