@use '../src/app/styles/abstracts/variables' as *;
@use '../src/app/styles/abstracts/fonts';
@use '../src/app/styles/base/typography';

* {
    margin: 0;
    padding: 0;
}

// html {
//   scroll-behavior: smooth;
// }

body{
    background-color: $bg-color;
}

section{
    height: 70vh;
    padding: 100px;
}