@use 'app/styles/abstracts/variables' as *;
@use 'app/styles/abstracts/fonts';
@use 'app/styles/base/typography';

html, body {
  height: 100%;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $bg-color;
}