@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as mx;

.nav-container {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 500;
  padding-inline: clamp(0.5rem, 2vw + 1rem, 6rem);
}

nav {
  height: 100px;
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > ul {
    list-style: none;
    display: flex;
    gap: clamp(1.5rem, 5vw, 6rem);
  }
}

a:has(.logo-nav) {
  padding: 0;
}

a {
  font-family: 'JosefinSans-Medium';
  color: $bg-color;
  @include mx.fluid-text(22, 26);
  transition: color 0.3s ease;
  padding: 15px 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    color: $secondary-color;
  }

  &.active {
    color: $secondary-color;
    background-image: url('/icons/ellipse_text.png');
  }
}

.logo-nav {
  padding: 0;
}

app-burger-button {
  display: none;
}

.lang-switcher-mobile {
  display: none;
}

.lang-switcher {
  @include mx.flex-center;

  button {
    font-family: 'JosefinSans-Regular';
    color: $bg-color;
    @include mx.fluid-text(18, 18);
    cursor: pointer;
    transition: color 0.2s ease;
    padding: 5px 5px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;

    &:hover {
      color: $secondary-color;
    }

    &.active {
      color: $secondary-color;
      background-image: url('/icons/ellipse_text.png');
    }
  }
}

@media (max-width: 1000px) {
  .nav-container {
    background-color: $bg-color;
    padding-top: 30px;

    > nav {
      align-items: flex-start;
      position: relative;

      > ul {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: clamp(305px, 60vw, 420px);
        height: 335px;
        background-image: url('/icons/shape.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: opacity 0.5s ease;
        opacity: 0;
        pointer-events: none;
        z-index: 100;
        @include mx.flex-center;
        flex-direction: column;
        gap: 30px;

        &.show {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }

  app-burger-button {
    display: block;
  }

  .lang-switcher-desktop {
    display: none;
  }

  .lang-switcher-mobile {
    display: block;
  }

  nav a.active {
    color: $bg-color;
    background-image: none;
    pointer-events: auto;
  }
}
